
policy_module(local, 1.0)

require {
	type var_log_t;
	type svirt_t;
	class file { write open };
}

#============= svirt_t ==============
allow svirt_t var_log_t:file open;

#!!!! This avc is allowed in the current policy
allow svirt_t var_log_t:file write;
